@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@theme {
  --color-primary-50: #f0fdfa;
  --color-primary-100: #ccfbf1;
  --color-primary-200: #99f6e4;
  --color-primary-300: #5eead4;
  --color-primary-400: #2dd4bf;
  --color-primary-500: #14b8a6;
  --color-primary-600: #0d9488;
  --color-primary-700: #0f766e;
  --color-primary-800: #115e59;
  --color-primary-900: #134e4a;

  --color-secondary-500: #3b82f6;
  --color-secondary-600: #2563eb;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply antialiased text-gray-800;
}

/* Swiper Custom Styles */
.swiper-button-next,
.swiper-button-prev {
  @apply hidden md:flex text-teal-600;
}

.swiper-pagination-bullet {
  @apply bg-gray-300;
}

.swiper-pagination-bullet-active {
  @apply bg-teal-600;
}

/* Custom Form Styles */
.form-input:focus,
.form-select:focus {
  @apply border-teal-500 ring-teal-500;
}